USE [master]
GO
/****** Object:  Database [SmartAppointment]    Script Date: 11/29/2025 6:11:20 AM ******/
CREATE DATABASE [SmartAppointment]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SmartAppointment', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SmartAppointment.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SmartAppointment_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SmartAppointment_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SmartAppointment].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SmartAppointment]
GO
/****** Object:  UserDefinedFunction [dbo].[FindUserbyID]    Script Date: 11/29/2025 6:11:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE FUNCTION [dbo].[FindUserbyID]
(
@UserID INT 
)
RETURNS @Reslut TABLE
(
 Username NVARCHAR(150),
 Role NVARCHAR(100),
 Password NVARCHAR(20),
 Phone NVARCHAR(20)
)
AS
BEGIN
   INSERT INTO @Reslut(Username,Role ,Password,Phone)
   SELECT Username , Role ,Password,Phone
   FROM Users
   RETURN
END
GO
/****** Object:  Table [dbo].[Appointments]    Script Date: 11/29/2025 6:11:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointments](
	[AppointmentID] [int] IDENTITY(1,1) NOT NULL,
	[PatientID] [int] NULL,
	[DoctorID] [int] NULL,
	[AppointmentDate] [date] NOT NULL,
	[TimeFrom] [time](7) NOT NULL,
	[TimeTo] [time](7) NOT NULL,
	[Status] [nvarchar](50) NULL,
	[ReasonForVisit] [nvarchar](250) NOT NULL,
	[Blance] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK__Appointm__8ECDFCA2027CE49B] PRIMARY KEY CLUSTERED 
(
	[AppointmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patients]    Script Date: 11/29/2025 6:11:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patients](
	[PatientID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[DateOfBirth] [date] NULL,
	[Gender] [bit] NULL,
	[Address] [nvarchar](250) NULL,
	[NationalID] [nvarchar](50) NULL,
	[RegistrationDate] [datetime] NULL,
	[Notes] [nvarchar](250) NULL,
	[LastUpdatedDate] [datetime] NULL,
	[Balance] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[PatientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Doctors]    Script Date: 11/29/2025 6:11:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctors](
	[DoctorID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Specialty] [nvarchar](100) NULL,
	[Phone] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[DoctorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Vw_GetAllAppointments]    Script Date: 11/29/2025 6:11:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[Vw_GetAllAppointments]
AS
SELECT        dbo.Appointments.AppointmentID, dbo.Patients.FullName as PatientName, dbo.Appointments.TimeFrom, 
dbo.Appointments.TimeTo, dbo.Doctors.FullName AS DoctorsName, dbo.Appointments.ReasonForVisit, dbo.Appointments.Blance
FROM            dbo.Appointments INNER JOIN
                         dbo.Doctors ON dbo.Appointments.DoctorID = dbo.Doctors.DoctorID INNER JOIN
                         dbo.Patients ON dbo.Appointments.PatientID = dbo.Patients.PatientID
GO
/****** Object:  Table [dbo].[Logs]    Script Date: 11/29/2025 6:11:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logs](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[Action] [nvarchar](200) NULL,
	[LogDate] [datetime] NULL,
	[PreformBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 11/29/2025 6:11:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[PatientID] [int] NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[PaymentDate] [date] NOT NULL,
	[Note] [nvarchar](200) NULL,
	[AppointmentId] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 11/29/2025 6:11:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](50) NULL,
	[Password] [nvarchar](100) NOT NULL,
	[Role] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__Users__1788CCACC07C6649] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Appointments] ADD  CONSTRAINT [DF__Appointme__Statu__534D60F1]  DEFAULT ('Scheduled') FOR [Status]
GO
ALTER TABLE [dbo].[Logs] ADD  DEFAULT (getdate()) FOR [LogDate]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [FK__Appointme__Docto__52593CB8] FOREIGN KEY([DoctorID])
REFERENCES [dbo].[Doctors] ([DoctorID])
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK__Appointme__Docto__52593CB8]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [FK__Appointme__Patie__5165187F] FOREIGN KEY([PatientID])
REFERENCES [dbo].[Patients] ([PatientID])
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK__Appointme__Patie__5165187F]
GO
ALTER TABLE [dbo].[Logs]  WITH CHECK ADD  CONSTRAINT [FK__Logs__UserID__59063A47] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Logs] CHECK CONSTRAINT [FK__Logs__UserID__59063A47]
GO
ALTER TABLE [dbo].[Logs]  WITH CHECK ADD  CONSTRAINT [FK_Logs_Users] FOREIGN KEY([PreformBy])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Logs] CHECK CONSTRAINT [FK_Logs_Users]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK__Payments__Patien__5629CD9C] FOREIGN KEY([PatientID])
REFERENCES [dbo].[Patients] ([PatientID])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK__Payments__Patien__5629CD9C]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Appointments] FOREIGN KEY([AppointmentId])
REFERENCES [dbo].[Appointments] ([AppointmentID])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Appointments]
GO
/****** Object:  StoredProcedure [dbo].[FindPatientByID]    Script Date: 11/29/2025 6:11:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[FindPatientByID]
(@PatientId INT)
AS
BEGIN
 
  SELECT FullName,NationalID,DateOfBirth,Address,Phone,Email,Notes,Gender 
  FROM Patients WHERE PatientID = @PatientId


END
GO
/****** Object:  StoredProcedure [dbo].[GetDoctorByID]    Script Date: 11/29/2025 6:11:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetDoctorByID]
    @DoctorID INT
AS
BEGIN
    SELECT 
        DoctorID, 
        FullName, 
        Specialty,
		Phone,
		Email
    FROM 
        Doctors
    WHERE 
        DoctorID = @DoctorID;
END;
GO
/****** Object:  StoredProcedure [dbo].[ISPatienExist]    Script Date: 11/29/2025 6:11:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[ISPatienExist](@NationalID NVARCHAR(150))
AS
 BEGIN

 SELECT Found = 1 FROM Patients Where NationalID =  @NationalID
    
 END
GO
/****** Object:  StoredProcedure [dbo].[SP_AddDoctors]    Script Date: 11/29/2025 6:11:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_AddDoctors]
(
@Fullname NVARCHAR(250),
@Specialty NVARCHAR(100),
@Phone VARCHAR(20),
@Email NVARCHAR(100),
@AddDocter INT OUTPUT

)

AS

  BEGIN
      INSERT INTO Doctors (FullName,Specialty,Phone,Email)
	     VALUES (@Fullname,@Specialty,@Phone,@Email)

		 Set @AddDocter = SCOPE_IDENTITY();

  END


  DECLARE @Docterid INT
  EXECUTE dbo.SP_AddDoctors
  @Fullname = 'Randa Mohammed',
  @Specialty = 'Jrah',
  @Phone = '023456789',
  @Email  = 'Randa.@gaml.com',
  @AddDocter = @Docterid OUTPUT

  SElect @Docterid
GO
/****** Object:  StoredProcedure [dbo].[SP_AddNewAppointment]    Script Date: 11/29/2025 6:11:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_AddNewAppointment]
(
@PaitentID INT ,
@DocterID INT,
@TimeTo Time,
@TimeForm Time,
@Status NVARCHAR(250),
@ReasonForVisit NVARCHAR(250)
)
AS
BEGIN
 
  INSERT INTO Appointments(PatientID,DoctorID,AppointmentDate,TimeFrom,TimeTo,Status,ReasonForVisit)
    VALUES (@PaitentID,@DocterID,GETDATE(),@TimeForm,@TimeTo,@Status,@ReasonForVisit)

END
GO
/****** Object:  StoredProcedure [dbo].[SP_AddNewDocter]    Script Date: 11/29/2025 6:11:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_AddNewDocter]
(
@Doctername NVARCHAR(150) ,
@DocterID INT OUTPUT ,
@Specialty NVARCHAR(150),
@Phone NVARCHAR(20),
@Email NVARCHAR(100)
)
AS
BEGIN 

    IF EXIStS (SELECT EXIStSFound = -1  FROM Doctors WHERE FullName = @Doctername
	AND Email = @Email)
	
	SET @DocterID =0

	 INSERT INTO Doctors(FullName ,Specialty,Phone,Email)
	   VALUES (@Doctername,@Specialty,@Phone,@Email)

	   SET @DocterID = SCOPE_IDENTITY()
END
GO
/****** Object:  StoredProcedure [dbo].[SP_AddNewPatien]    Script Date: 11/29/2025 6:11:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE PROCEDURE [dbo].[SP_AddNewPatien]
(
@FullName NVARCHAR(150),
@Phone NvarChar(20),
@Emil NVARChAr(150),
@DataOfBirth Datetime,
@RegistrationDate Datetime,
@NationalID NVARCHAR(150),
@Notes NVARChAr(250),
@Address NVARChAr(250),
@Gender bit

)

AS

BEGIN
    INSERT INTO Patients(FullName,DateOfBirth,Email,Phone,RegistrationDate,Gender,Address,Notes,NationalID,LastUpdatedDate	)
	VALUES (@FullName,@DataOfBirth,@Emil,@Phone,@RegistrationDate,@Gender,@Address,@Notes,@NationalID,GETDATE())
	SELECT SCOPE_IDENTITY()

END
GO
/****** Object:  StoredProcedure [dbo].[SP_AddNewPayment]    Script Date: 11/29/2025 6:11:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_AddNewPayment]
(@Patientid int,
@AppointmentId int,
@Amount Decimal,
@Note NVARCHAR(200)
)
AS
BEGIN
    Insert  Into Payments(PatientID,PaymentDate,Note,AppointmentId)
	VALUES (@Patientid,GETDATE(),@Note,@AppointmentId)
	
	Select SCOPE_IDENTITY()
END
GO
/****** Object:  StoredProcedure [dbo].[SP_AddNewUser]    Script Date: 11/29/2025 6:11:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE Procedure [dbo].[SP_AddNewUser](
 @UserName NVARCHAR(150) ,
 @Password NVARCHAR(100),
  @Role NVARCHAR(100),
  @Phone NVARCHAR(20),
  @AddUser int output,
  @PerformBy int 
)
As

BEGIN

  Declare @UsrID int

   INSERT INTO  Users (Users.Username,Users.Password,Users.Role,Phone) 
     VALUES (@UserName,@Password,@Role,@Phone)

  Set @AddUser = SCOPE_IDENTITY();

  INSERT INTO Logs (UserID,Action,LogDate,PreformBy)
      VALUES (@AddUser,'INSERT',GETDATE(),@PerformBy)

END


GO
/****** Object:  StoredProcedure [dbo].[SP_AddPatientAndAppointment]    Script Date: 11/29/2025 6:11:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


      CREATE PROCEDURE [dbo].[SP_AddPatientAndAppointment]
      (
      
      @FullName NVARCHAR(150),
      @Phone NvarChar(20),
      @Emil NVARChAr(150),
      @DataOfBirth Date,
      @Balance Decimal(18,1),
      @NationalID INT,
      @Notes NVARChAr(250),
      @Address NVARChAr(250),
      @Gender bit,
      @DocterID INT,
      @AppointmentDate Date,
      @TimeTo Time,
      @TimeForm Time,
      @Status NVARCHAR ,
      @NEWPaitentID INT OUTPUT,
	  @AppointmentID INT OUTPUT
      )
      AS
      BEGIN
       
       BEGIN  TRANSACTION
       
	     BEGIN TRY

            INSERT INTO Patients(FullName,DateOfBirth,Email,Phone,Balance,RegistrationDate
			,Gender,Address,Notes,NationalID,LastUpdatedDate	)
      	    VALUES (@FullName,@DataOfBirth,@Emil,@Phone,@Balance,
			GETDATE(),@Gender,@Address,@Notes,@NationalID,GETDATE()) 
           
		    SET  @NEWPaitentID  = SCOPE_IDENTITY();
           
            INSERT INTO Appointments(PatientID,DoctorID,AppointmentDate,TimeFrom,TimeTo,Status)
            VALUES (@NEWPaitentID,@DocterID,@AppointmentDate,@TimeForm,@TimeTo,@Status)
      
	        SET @AppointmentID = SCOPE_IDENTITY();
	   COMMIT TRANSACTION 
        END TRY

		BEGIN CATCH 
		   ROLLBACK TRANSACTION
		   THROW
		END CATCH
      END
GO
/****** Object:  StoredProcedure [dbo].[SP_AllPayments]    Script Date: 11/29/2025 6:11:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_AllPayments]
AS
BEGIN
   
   SELECT   PaymentID ,Patients.FullName ,PaymentDate,Amount,Note
   FROM
   
   Payments
   INNER JOIN
                         dbo.Patients ON dbo.Payments.PatientID = dbo.Patients.PatientID

END
GO
/****** Object:  StoredProcedure [dbo].[SP_AllUser]    Script Date: 11/29/2025 6:11:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_AllUser]
AS 
BEGIN

    SELECT UserID	,Username  ,Role	,Phone FROM  Users
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CheckLogin]    Script Date: 11/29/2025 6:11:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







CREATE PROCEDURE [dbo].[SP_CheckLogin]
(
@Username VARCHAR (150),
@Password VARCHAR(100)
)
AS

  BEGIN
    Select * from Users Where Password = @Password And Username = @Username
  END
GO
/****** Object:  StoredProcedure [dbo].[SP_comAlldocters]    Script Date: 11/29/2025 6:11:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_comAlldocters]
AS
BEGIN
   select DoctorID , FullName as DoctorName  FROM  Doctors
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DelectUser]    Script Date: 11/29/2025 6:11:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




  CREATE PROCEDURE [dbo].[SP_DelectUser]
  (
  @PrefromBY int ,
  @UserID int ,
  @delete bit OUTPUT
  )
  AS

  BEGIN

  if(@PrefromBY = @UserID)
    BEGIN
	 set @delete =  0;
	  return;
	End
	  
	  else
	  BEGIN TRY

       Delete Users Where UserID = @UserID

	    if(@@ROWCOUNT = 0)
		 BEGIN
		     set @delete =  0;
	         return;
		 END

	  INSERT INTO Logs (UserID,Action,LogDate,PreformBy)
	     VALUES (@UserID,'Delect',GETDATE(),@PrefromBY);

  END TRY

  BEGIN CATCH
      set @delete =  0;
  END CATCH
  END 
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteDocter]    Script Date: 11/29/2025 6:11:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_DeleteDocter]
(
@DocterID INT,
@Reslutdelete bit OUTPUT
)

AS
 BEGIN
    DELETE Doctors WHERE DoctorID = @DocterID

	     SET @Reslutdelete =@@ROWCOUNT   
 END


GO
/****** Object:  StoredProcedure [dbo].[SP_DeletePatient]    Script Date: 11/29/2025 6:11:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_DeletePatient](@PatientId INT)
AS
BEGIN
   DELETE Patients Where PatientID = @PatientId 
END
GO
/****** Object:  StoredProcedure [dbo].[SP_FindPatientByNationalID]    Script Date: 11/29/2025 6:11:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_FindPatientByNationalID]
(@NationalID NVARCHAR(150))
AS
BEGIN
 
  SELECT FullName,PatientID,DateOfBirth,Address,Phone,Email,Notes,Gender 
  FROM Patients WHERE NationalID = @NationalID


END
GO
/****** Object:  StoredProcedure [dbo].[SP_FindUserWithoutPassword]    Script Date: 11/29/2025 6:11:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_FindUserWithoutPassword]
(
@UserID INT
)
AS
 BEGIN
Select Username,Phone,Role from Users Where UserID = @UserID

END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllAppointments]    Script Date: 11/29/2025 6:11:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_GetAllAppointments]
AS
BEGIN
    SELECT * FROM Vw_GetAllAppointments
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllDocter]    Script Date: 11/29/2025 6:11:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GetAllDocter]
AS
BEGIN

  SELECT * FROM Doctors

END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetPatientsPaginated]    Script Date: 11/29/2025 6:11:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE PROCEDURE [dbo].[SP_GetPatientsPaginated]
(
  @PageNumber INT, 
    @PageSize INT
	
)
AS
BEGIN

    DECLARE @OFFtSet INT = (@PageNumber -1) * @PageSize;
   SELECT Patients.PatientID , 
   FullName 
   ,Phone
   ,DateOfBirth
   , CASe  Gender 
    WHEN 1 THEN 'Female'
	WHEN 0 THEN 'Male'
	ELSE 'Male'	
	END AS Gender
   ,ISNULL(sum(Amount),0) as Balance
   ,RegistrationDate
   FROM 
       Patients Left join Payments as pay On Patients.PatientID = pay.PatientID
	  Group By 
      Patients.PatientID  , FullName, Phone, DateOfBirth, Gender, RegistrationDate
   ORDER BY PatientID  ASC
   OFFSET @OFFtSet ROWS
   FETCH NEXT @PageSize ROWS ONly
   
END



GO
/****** Object:  StoredProcedure [dbo].[SP_GetPatientSummary]    Script Date: 11/29/2025 6:11:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetPatientSummary]
(
    @PatientID INT
)
AS
BEGIN
    SELECT 
        ISNULL(SUM(Amount), 0) AS CurrentBalance, 
        RegistrationDate 
    FROM Patients AS P 
    LEFT JOIN Payments AS PM ON P.PatientID = PM.PatientID
    WHERE P.PatientID = @PatientID
    GROUP BY RegistrationDate;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_isUserExist]    Script Date: 11/29/2025 6:11:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_isUserExist]
(
@Username NVARCHAR(150),
@Result bit OUTPUT

)
AS
BEGIN
      IF Exists (SELECT 1 FROM Users Where Username = @Username)
	     BEGIN
	        set @Result = 1
         END
      ELSE
	      BEGIN
		      set @Result = 0
		  END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_PatientDetailsForm]    Script Date: 11/29/2025 6:11:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[SP_PatientDetailsForm]
(
  @PatientId INT
)
AS
BEGIN
   SELECT PatientID , FullName  
   ,NationalID 
   ,Phone 
   ,DateOfBirth
   ,Gender
   ,RegistrationDate
   ,LastUpdatedDate
   ,Address
   ,Notes
   FROM Patients Where PatientID =   @PatientId 
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateDocter]    Script Date: 11/29/2025 6:11:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_UpdateDocter]
(
@Doctername NVARCHAR(150) ,
@DocterID INT  ,
@Specialty NVARCHAR(150),
@Phone NVARCHAR(20),
@Email NVARCHAR(100),
@Result bit Output
)
AS
BEGIN 
    UPDATE Doctors SET FullName = @Doctername ,Specialty = @Specialty ,Phone = @Phone,Email = @Email
	WHERE DoctorID = @DocterID

	if(@@ROWCOUNT >0)
	 SET @Result = 1

END
GO
/****** Object:  StoredProcedure [dbo].[SP_Updatepatient]    Script Date: 11/29/2025 6:11:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[SP_Updatepatient]
(
@FullName NVARCHAR(150),
@Phone NvarChar(20),
@Emil NVARChAr(150),
@DataOfBirth Datetime,
@NationalID NVARCHAR(150),
@Notes NVARChAr(250),
@Address NVARChAr(250),
@Gender bit,
@PatientId INT

)

AS

BEGIN
     Update Patients Set FullName = @Fullname ,Email= @Emil ,Phone = @Phone,Address=@Address,NationalID = @NationalID,
	 DateOfBirth = @DataOfBirth  ,LastUpdatedDate = GetDate(),Gender = @Gender,Notes =  @Notes
	 WHERE PatientID =  @PatientId

END
GO
/****** Object:  StoredProcedure [dbo].[SP_Updateuser]    Script Date: 11/29/2025 6:11:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




  CREATE PROCEDURE [dbo].[SP_Updateuser]
  (
  @PrefromBY int ,
   @UserName NVARCHAR(150) ,
 @Password NVARCHAR(100),
  @Role NVARCHAR(100),
  @UserID int ,
  @Phone NVARCHAR(20),
  @Result bit OUTPUT
  )
  AS

  BEGIN


  Update Users SET Username  = @UserName, @Password = @Password,Role = @Role,Phone  =@Phone
      WHere UserID = @UserID

	  if(@@ROWCOUNT >0)
	BEGIN   
	  INSERT INTO Logs (UserID,Action,LogDate,PreformBy)
	     VALUES (@UserID,'UPDATE',GETDATE(),@PrefromBY)

		 Set @Result =1;
    END

	ELSE
      BEGIN
	      SET @Result =0;
	  END


  END
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Appointments"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 222
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Doctors"
            Begin Extent = 
               Top = 6
               Left = 260
               Bottom = 136
               Right = 430
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Patients"
            Begin Extent = 
               Top = 6
               Left = 468
               Bottom = 136
               Right = 647
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Vw_GetAllAppointments'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Vw_GetAllAppointments'
GO
USE [master]
GO
